[phases.setup]
nixPkgs = ["python313"]

[phases.install]
cmds = [
  "rm -rf .venv",
  "python -m venv .venv",
  ".venv/bin/pip install --no-cache-dir --upgrade pip",
  ".venv/bin/pip install --no-cache-dir -r backend/requirements.txt"
]
